html {
  font-family: sans-serif;
}

button {
  background-color: #3498DB;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  width: 25%;
  height: 80px;
  position: relative;
  display: inline-block;
}

