<meta charset="utf-8">
<!--<META HTTP-EQUIV="refresh" CONTENT="5">-->
<title>RaspiTherm</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<h1>Temp: {{ '%0.2f'| format(inside_temp) }}   Set Point: {{ set_point }} Heat: {{ heat }}</h1>
<body>
<canvas id="line-chart" width="320" height="200" style="height: 80%; width: 100%; border:1px solid #000000;"></canvas>
<script src="{{ url_for('static', filename='make_chart.js') }}"></script>

</body>

<script>
    var labels = [{% for item in labels %} "{{item if item else "null"}}", {% endfor %}]
    var temp_values = [{% for item in temp_values %} {{item if item else "null"}}, {% endfor %}]
    var set_points_heaton = [{% for item in set_points_heaton %} {{item if item else "null"}}, {% endfor %}]
    var set_points_heatoff = [{% for item in set_points_heatoff %} {{item if item else "null"}}, {% endfor %}]

    window.onload = function() {
        window.chart = makeChart(document.getElementById("line-chart").getContext("2d"), labels, temp_values, set_points_heaton, set_points_heatoff, {{ y_min }}, {{ y_max }}, false)
    };


</script>
