<meta charset="utf-8">
<html>
<title>RaspiTherm</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<body>
<h2>Temp: <span id="temp-txt">{{ '%0.2f'| format(inside_temp) }}</span> </h2>
<h2>Set Point: <span id="set-pt-txt"> {% if set_point_enabled %} {{ '%0.2f' | format(set_point) }} {% else %} Off {% endif %}</span></h2>
<!--<h2>Set Point: <span id="set-pt-txt"> {{ set_point }}</span></h2>-->
<h2>Heat: <span id="heat-txt">{{ heat }}</span></h2>
<div id="buttons" style="position:relative; width:100%; text-align:center">
<button id="up">Up</button>
<button id="down">Down</button>
<button id="off">Off</button>
</div>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='make_chart.js') }}"></script>

<div class="chart-container" align="center" style="position: relative; height:60vh; width:90vw; margin-left: auto; margin-right: auto">
    <canvas id="line-chart"></canvas>
</div>

<a href="{{ url_for('root.dashboard', hours=1) }}">1 hour</a>
<a href="{{ url_for('root.dashboard', hours=2) }}">2 hours</a>
<a href="{{ url_for('root.dashboard', hours=12) }}">12 hours</a>
<a href="{{ url_for('root.dashboard', hours=24) }}">24 hours</a>
<a href="{{ url_for('root.dashboard', hours=48) }}">48 hours</a>
<a href="{{ url_for('root.dashboard', hours=168) }}">1 week</a>


<script>
    var setPt = {{ set_point }};
    var labels = [{% for item in labels %} "{{ item }}", {% endfor %}]
    var temp_values = [{% for item in temp_values %} "{{item}}", {% endfor %}]
    var set_points_heaton = [{% for item in set_points_heaton %} "{{item}}", {% endfor %}]
    var set_points_heatoff = [{% for item in set_points_heatoff %} "{{item}}", {% endfor %}]

    $(document).ready( function() {
        window.chart = makeChart(document.getElementById("line-chart").getContext("2d"), labels, temp_values, set_points_heaton, set_points_heatoff, {{ y_min }}, {{ y_max }}, true)
        var down = document.getElementById('down');
        var off = document.getElementById('off');
        var up = document.getElementById('up');

        down.addEventListener('click', function () {
            setPt -= .5;
            setSetPoint(setPt);
        })

        off.addEventListener('click', function () {
            adjustSetPoint('setpt-off');
            updateSetPoint();
        })

        up.addEventListener('click', function () {
            setPt += .5;
            setSetPoint(setPt);
        })
    });

</script>

</body>
</html>
